<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618510032600-svel5mus0uaftgiljutd5h5gpvnb705l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618510032600-svel5mus0uaftgiljutd5h5gpvnb705l</string>
	<key>API_KEY</key>
	<string>AIzaSyCmYeByZ-Mpf4isTgwbgnAtJZjOJscPqEI</string>
	<key>GCM_SENDER_ID</key>
	<string>618510032600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthline_app</string>
	<key>PROJECT_ID</key>
	<string>healthlineapp-1047d</string>
	<key>STORAGE_BUCKET</key>
	<string>healthlineapp-1047d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618510032600:ios:637e19187aa798c34b81ad</string>
</dict>
</plist>